/* Webfont: Lora normal */
@font-face {
  font-family: "Lora";
  src: local("Lora-Regular"), local("Lora Regular"),
    url("../fonts/Lora/Lora-Regular.woff2") format("woff2"),
    /* Modern Browsers */ url("../fonts/Lora/Lora-Regular.woff") format("woff"); /* Modern Browsers */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* Webfont: WorkSans Medium */
@font-face {
  font-family: "WorkSans";
  src: local("WorkSans-Medium"), local("WorkSans Medium"),
    url("../fonts/Work_Sans/WorkSans-Medium.woff2") format("woff2"),
    /* Modern Browsers */ url("../fonts/Work_Sans/WorkSans-Medium.woff")
      format("woff"); /* Modern Browsers */
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

/* Webfont: WorkSans normal */
@font-face {
  font-family: "WorkSans";
  src: local("WorkSans-Regular"), local("WorkSans Regular"),
    url("../fonts/Work_Sans/WorkSans-Regular.woff2") format("woff2"),
    /* Modern Browsers */ url("../fonts/Work_Sans/WorkSans-Regular.woff")
      format("woff"); /* Modern Browsers */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
