*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  width: 100%; }

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1640px;
  background-color: gray; }

.main-container {
  width: 100%;
  background-color: #fff; }

body {
  font-family: "WorkSans", Fallback, sans-serif;
  font-family: "Lora", Fallback, sans-serif; }

.primary-heading {
  font-family: "WorkSans", Fallback, sans-serif;
  font-size: 1.8rem;
  color: #9895cd;
  text-transform: uppercase;
  padding: 1.3rem 0; }

.secondary-heading {
  font-size: 3.4rem;
  line-height: 1.3;
  color: #202020;
  margin-bottom: 6px;
  padding-bottom: 2rem;
  padding-top: 6rem; }

.tertiary-heading {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333333; }

.heading-59 {
  color: #ffffff;
  font-size: 5.9rem;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: normal;
  text-transform: uppercase; }

.heading-34 {
  font-size: 4rem;
  font-family: "Lora", Fallback, sans-serif;
  line-height: 1.4;
  font-weight: normal;
  color: #202020;
  padding-bottom: 4rem;
  text-align: left; }

.heading-29 {
  font-size: 2.9rem;
  font-weight: normal;
  line-height: 1.4;
  color: #202020;
  margin-bottom: 6px;
  padding-bottom: 2rem;
  width: 70%; }

.heading-medium {
  font-size: 2.6rem;
  color: #202020;
  padding-bottom: 2rem; }

.paragraph-24 {
  font-size: 2.4rem;
  color: #202020;
  margin-bottom: 3%;
  width: 40%;
  line-height: 1.4;
  text-align: center; }

.paragraph-20 {
  font-size: 2rem;
  color: #202020;
  margin-bottom: 3%;
  width: 70%;
  line-height: 1.4;
  text-align: left; }

.paragraph-14 {
  font-size: 1.4rem;
  color: #202020;
  margin-bottom: 3%;
  width: 70%;
  line-height: 1.4;
  text-align: left; }

.paragraph-16 {
  width: 40%;
  margin-bottom: 3%;
  font-size: 1.6rem;
  line-height: 1.3;
  font-family: "WorkSans", Fallback, sans-serif;
  color: #202020;
  opacity: 0.7; }

.price {
  font-size: 1.6rem;
  color: #333333; }

@media (max-width: 1300px) {
  .paragraph-14,
  .paragraph-20 {
    width: 90%; }
  .heading-34 {
    font-size: 3rem;
    padding-bottom: 2rem; }
  .paragraph-24 {
    font-size: 1.6rem;
    width: 70%; }
  .secondary-heading {
    font-size: 2.8rem; }
  .heading-medium {
    font-size: 2rem; }
  .heading-29 {
    font-size: 2.5rem; } }

@media screen and (max-width: 600px) {
  .heading-34 {
    font-size: 2.2rem; }
  .paragraph-24 {
    font-size: 1.5rem;
    width: 90%; }
  .heading-medium {
    font-size: 1.7rem; }
  .secondary-heading {
    font-size: 2.2rem; } }

.btn-primary img {
  display: block; }

.btn-primary .btn {
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
  width: 98px; }

.btn-submit-email {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  right: 2%;
  top: 40%; }
  .btn-submit-email:focus {
    outline: none; }

.btn-submit {
  background-color: transparent;
  border: none;
  padding: 0.8rem;
  text-align: center;
  cursor: pointer;
  font-size: 1.8rem;
  font-family: "Lora", Fallback, sans-serif;
  border-radius: none; }
  .btn-submit:focus {
    outline: none; }

.featured-card {
  background-color: #f9f8fc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; }
  .featured-card img {
    width: 100%;
    height: auto; }

.product-single {
  flex-grow: 1; }
  .product-single img {
    width: 100%;
    height: auto; }

.home-section-event {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-between; }

.home-section-alice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 9rem 0;
  text-align: center; }
  .home-section-alice img {
    width: 100px; }

.home-featured {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6; }

.featured-overlay {
  width: 73%; }

.featured-companies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  margin-bottom: 6rem; }

.home-products {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e6e6e6;
  width: 100%;
  padding-bottom: 6rem; }

.products-overlay {
  width: 74%; }

.products-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  padding-bottom: 4rem; }

.home-instagram {
  text-align: center; }

.home-commission-work {
  display: flex;
  width: 95%;
  height: 430px;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6; }

.commission-work {
  border-top: none;
  flex: 1 0 50%;
  padding: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.newsletter {
  border-left: 1px solid #e6e6e6;
  flex: 1 0 50%;
  padding: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .newsletter .input-email {
    width: 70%;
    position: relative; }
  .newsletter input {
    width: 100%;
    height: 5.8rem;
    border: 1px solid #e6e6e6;
    padding-left: 1rem; }
    .newsletter input::placeholder {
      font-size: 1.4rem;
      font-family: "WorkSans", fallback sans-serif;
      color: #4f4f4f; }

nav {
  position: sticky;
  top: 0;
  height: 8vh;
  background: #ffffff;
  max-width: 100%;
  font-family: "WorkSans", fallback sans-serif;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100; }

.links {
  width: 100%;
  display: flex;
  height: 100%;
  list-style: none;
  justify-content: space-around;
  align-items: center; }
  .links li:hover {
    border-bottom: 1px solid #4f4f4f; }
  .links a {
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem; }

.logo-wrapper {
  display: flex;
  width: 50%;
  justify-content: space-around; }
  .logo-wrapper h2 {
    color: #4f4f4f;
    line-height: 116%;
    max-width: 45%;
    font-size: 1.4rem;
    align-self: center;
    font-weight: normal; }

.checkout-container {
  width: 10%;
  display: flex;
  justify-content: space-around; }
  .checkout-container img {
    max-width: 100%;
    height: 2.3rem; }
    .checkout-container img :not(:first-child) {
      margin-right: 2.5rem; }

.burger {
  display: none; }

.burger div {
  width: 2.5rem;
  height: 0.3rem;
  margin: 3px;
  background-color: #333333; }

@media screen and (max-width: 1350px) {
  .logo-wrapper h2 {
    font-size: 1.2rem; }
  .links a {
    font-size: 1.1rem; } }

@media screen and (max-width: 1147px) {
  body {
    overflow-x: hidden; }
  nav {
    justify-content: space-evenly; }
  .logo-wrapper {
    width: 70%; }
  .links {
    width: 50%;
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%); }
    .links li {
      opacity: 0; }
    .links a {
      font-size: 1.4rem; }
  .burger {
    display: block;
    cursor: pointer; }
  .nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in; } }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@media screen and (max-width: 600px) {
  .logo-wrapper {
    width: 50%; }
    .logo-wrapper h2 {
      display: none; }
  .checkout-container {
    width: 40%; } }

footer {
  height: 100%;
  font-family: "WorkSans", fallback sans-serif;
  width: 100%; }

.footer-border {
  border: 1px solid #e6e6e6;
  border-bottom: none;
  width: 95%;
  height: 100%;
  margin: auto; }

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  padding: 6rem 0;
  border-bottom: 1px solid #e6e6e6; }
  .footer-links ul {
    list-style: none; }
    .footer-links ul li a {
      text-decoration: none;
      color: #333333;
      text-transform: uppercase;
      margin: 0 20px;
      font-size: 1.4rem; }
  .footer-links .footer-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem; }
    .footer-links .footer-social-icons :not(:last-child) {
      margin-right: 2rem; }
    .footer-links .footer-social-icons img {
      width: 100%;
      height: auto; }

.footer-copyright {
  display: flex;
  height: 20%;
  margin-left: 2rem;
  padding: 2rem 0;
  align-items: center; }
  .footer-copyright h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #9895cd;
    opacity: 0.5;
    font-weight: normal; }
  .footer-copyright img {
    margin: 0 1em; }
  .footer-copyright h4 {
    font-size: 1rem;
    color: #9895cd;
    opacity: 0.5; }

@media screen and (max-width: 1030px) {
  .footer-links ul li a {
    font-size: 1.2rem; }
  .footer-links .footer-social-icons {
    margin-right: 0;
    padding-top: 2rem; } }

.current-project-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f3f2f9;
  padding: 9rem 0;
  text-align: center;
  width: 100%; }

.current-project-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 9rem 0;
  margin: 0 auto;
  position: relative; }
  .current-project-video img {
    width: 100%;
    height: auto; }
  .current-project-video .play-vid {
    width: 4%;
    height: 7%;
    cursor: pointer;
    position: absolute; }

.current-project-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 0.5rem;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 9rem; }
  .current-project-images img {
    max-width: 100%;
    height: auto; }

.about-primary {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(243, 242, 249, 0.5); }
  .about-primary .col-left-about {
    width: 50%; }
    .about-primary .col-left-about img {
      max-width: 100%;
      height: auto; }
  .about-primary .col-right-about {
    width: 50%;
    margin-left: 5rem; }

.about-secondary {
  height: 100%;
  margin-bottom: 6rem;
  padding: 9rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .about-secondary .col-left-about-primary {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .about-secondary .col-right-about-primary {
    width: 50%; }
    .about-secondary .col-right-about-primary img {
      width: 100%;
      height: auto; }

.about-tertiary {
  background-color: rgba(243, 242, 249, 0.5);
  display: flex;
  height: 100%;
  padding: 9rem 0;
  width: 100%; }
  .about-tertiary .col-about-left-secondary {
    flex: 0 1 50%; }
    .about-tertiary .col-about-left-secondary img {
      max-width: 100%;
      height: auto; }
  .about-tertiary .col-about-right-secondary {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    margin-left: 5rem; }
  .about-tertiary h2 {
    text-align: left; }
  .about-tertiary img {
    margin: 2rem 0; }

.contact-us {
  width: 100%; }
  .contact-us .hero-image {
    position: relative; }
    .contact-us .hero-image .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000000;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      z-index: -1; }
    .contact-us .hero-image img {
      max-width: 100%;
      height: auto; }
  .contact-us .form-wrapper {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 9rem 0;
    height: 100%;
    margin: 0 auto; }
    .contact-us .form-wrapper .contact-form-right img {
      max-width: 100%;
      height: auto; }
    .contact-us .form-wrapper .form-container {
      width: 80%;
      margin-left: 5rem;
      padding-top: 2rem; }
      .contact-us .form-wrapper .form-container input {
        width: 60%;
        height: 5.8rem;
        border: 1px solid #e6e6e6;
        padding-left: 1rem;
        margin-bottom: 2rem; }
        .contact-us .form-wrapper .form-container input::placeholder {
          text-transform: capitalize;
          font-size: 1.4rem;
          font-family: "WorkSans", fallback sans-serif;
          color: #4f4f4f; }
      .contact-us .form-wrapper .form-container textarea {
        width: 60%;
        border: 1px solid #e6e6e6;
        padding-left: 1rem;
        margin-bottom: 2rem;
        outline: none;
        resize: none; }
        .contact-us .form-wrapper .form-container textarea::placeholder {
          text-transform: capitalize;
          font-size: 1.4rem;
          font-family: "WorkSans", fallback sans-serif;
          color: #4f4f4f; }

@media (max-width: 1300px) {
  .form-container input {
    width: 100%; } }

.gallery {
  width: 100%; }
  .gallery .hero-image {
    position: relative; }
    .gallery .hero-image .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000000;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      z-index: -1; }
    .gallery .hero-image img {
      max-width: 100%;
      height: auto; }

.col-left {
  background-color: rgba(243, 242, 249, 0.5);
  flex: 0 1 50%; }
  .col-left .event-title-large {
    padding-top: 30%;
    padding-left: 15%;
    width: 90%; }

.col-right {
  flex: 1 0 50%;
  display: block; }
  .col-right img {
    max-width: 100%;
    object-fit: cover; }

.home-about-artist {
  background-color: rgba(243, 242, 249, 0.5);
  height: 100%;
  padding: 9rem 0;
  display: flex;
  align-items: center; }

.col-left-about {
  width: 100%; }
  .col-left-about .home-image-container {
    position: relative;
    z-index: 1; }
    .col-left-about .home-image-container .gradient-1 {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 31px;
      top: 31px;
      z-index: -1;
      background-image: linear-gradient(180deg, #f0efff 0%, #fff4f5 100%); }
  .col-left-about img {
    max-width: 100%;
    height: auto; }

.col-right-about .about-title-large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .col-right-about .about-title-large p {
    width: 50%; }

.home-event-latest {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 9rem 0; }
  .home-event-latest .event-title-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .home-event-latest .event-title-large p {
      width: 60%; }
  .home-event-latest .col-right-event {
    width: 100%; }
    .home-event-latest .col-right-event .home-image-container {
      position: relative;
      z-index: 1; }
      .home-event-latest .col-right-event .home-image-container .gradient-2 {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 31px;
        top: 31px;
        z-index: -1;
        background-image: linear-gradient(180deg, #f4fdea 0%, #dff6f0 100%); }
    .home-event-latest .col-right-event img {
      max-width: 100%;
      height: auto; }

.instagram-photo-contianer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: none;
  object-fit: cover; }
  .instagram-photo-contianer img {
    width: 100%;
    height: auto; }

.footer-images {
  width: 100%; }
  .footer-images .footer-images-container {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 152px; }
    .footer-images .footer-images-container img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

@media (max-width: 920px) {
  .home-section-event {
    flex-direction: column-reverse; }
    .home-section-event .event-title-large {
      padding-top: 5%;
      padding-left: 5%;
      width: 90%; }
  .home-about-artist {
    flex-direction: column; }
  .home-event-latest {
    flex-direction: column-reverse; }
  .home-commission-work {
    flex-direction: column; }
  .newsletter {
    border-top: 1px solid #e6e6e6;
    border-left: none; }
  .footer-links {
    flex-direction: column; }
    .footer-links ul li a {
      margin: 0 1.2rem;
      font-size: 1.2rem; }
  .footer-copyright {
    flex-direction: column; }
  .tertiary-heading {
    font-size: 1.2rem; }
  .price {
    font-size: 1.2rem; }
  .btn-primary {
    margin-bottom: 2rem; } }

@media (max-width: 520px) {
  .newsletter {
    padding: 2rem; } }
